# Helicon Ape version 3.1.0.115

RewriteEngine On

DirectoryIndex index.php

RewriteRule ^sitemap.xml$ sitemap.php [L]
ErrorDocument 400     /400.php
ErrorDocument 401     /401.php
ErrorDocument 403     /403.php
ErrorDocument 404     /404.php
ErrorDocument 500     /500.php


RewriteRule ^doctor$ doctor/ [L]
RewriteRule ^doctor/$ doctor/ [L]
RewriteRule ^tag/(.*)/$ index.php?com=tag&keyword=$1 [L]
RewriteRule ^resize/([0-9]+)x([0-9]+)/([0-9]+)/(.*)$ timthumb.php?w=$1&h=$2&zc=$3&q=100&src=http://%{HTTP_HOST}/$4  [L]

RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?com=all&idl=$1 [L]
RewriteRule ^([a-zA-Z0-9_-]+)&page=([0-9]+)$ index.php?com=all&idl=$1&page=$2 [L]

RewriteRule ^cua-hang/ch-([a-zA-Z0-9_-]+)$ index.php?com=cua-hang&user=$1 [L]
RewriteRule ^cua-hang/ch-([a-zA-Z0-9_-]+)&page=([0-9]+)$ index.php?com=cua-hang&user=$1&page=$2 [L]

RewriteRule ^khu-vuc/px-([a-zA-Z0-9_-]+)-([0-9]+)$ index.php?com=khu-vuc&id=$2&na=px [L]
RewriteRule ^khu-vuc/px-([a-zA-Z0-9_-]+)-([0-9]+)&page=([0-9]+)$ index.php?com=khu-vuc&id=$2&na=px&page=$3 [L]

RewriteRule ^khu-vuc/tt-([a-zA-Z0-9_-]+)-([0-9]+)$ index.php?com=khu-vuc&id=$2&na=tt [L]
RewriteRule ^khu-vuc/tt-([a-zA-Z0-9_-]+)-([0-9]+)&page=([0-9]+)$ index.php?com=khu-vuc&id=$2&na=tt&page=$3 [L]

RewriteRule ^khu-vuc/qh-([a-zA-Z0-9_-]+)-([0-9]+)$ index.php?com=khu-vuc&id=$2&na=qh [L]
RewriteRule ^khu-vuc/qh-([a-zA-Z0-9_-]+)-([0-9]+)&page=([0-9]+)$ index.php?com=khu-vuc&id=$2&na=qh&page=$3 [L]

RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)$ index.php?com=all&idl=$1&id=$2 [L]
RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)&page=([0-9]+)$ index.php?com=all&idl=$1&id=$2&page=$3 [L]



RewriteRule ^([a-zA-Z0-9_-]+)/ht-(.*)/ns-(.*)/gt-([0-9]+)/ad-([0-9]+)$ index.php?com=all&idl=$1&hoten=$2&ngaysinh=$3&gioitinh=$4&amduong=$5 [L]


RewriteRule ^([a-zA-Z0-9_-]+).html$ index.php?com=$1 [L]
RewriteRule ^([a-zA-Z0-9_-]+).html&page=([0-9]+)$ index.php?com=all&page=$1 [L]


RewriteRule ^([a-zA-Z0-9_-]+).html&id=([0-9]+)$ index.php?com=$1&id=$2 [L]


RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+).htm$ index.php?com=$1&lang=$2 [L]

RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+).html$ index.php?com=$1&id=$2 [L]
RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+).html&page=([0-9]+)$ index.php?com=$1&id=$2&page=$3 [L]

# php -- BEGIN cPanel-generated handler, do not edit
# This domain inherits the “PHP” package.
# php -- END cPanel-generated handler, do not edit